<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Cyber crusade | All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->



<!--javascript-->
<script>
    function profile() {
        window.location.href = "/profile";
    }

    function logout() {
        window.location.href = "/logout";
    }
</script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/app-square.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/lightbox.js"></script>
<script src="js/typed.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.singlePageNav.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>