<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from tahsinportfolio.com/Avita/index-square.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Jan 2019 16:17:04 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Avita is a personal portfolio HTML template with clean and elegant design">
    <meta name="keywords" content="dark, html, one page, bootstrap,design, creative, onepage, clean, modern,blog,business,parallax">
    <title>Cyber Crusade</title>
    <!--css styles-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/lightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i%7CRaleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <!---title logo icon-->
    <link rel="shortcut icon" href="images/favicon1.ico" />
    <!-- Respond.js IE8 support media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="./vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./endor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./css/util.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
</head>


<body>

    <!-- Start Preloader -->
    <% if(!user) { %>
        <div class="preloader">
            <div class="preloader-img"></div>
        </div>
        <% } %>
            <!-- End Preloader -->

            <!-- Start scroll-top button -->
            <div id="scroll-top-area">
                <a href="#"><span>Scroll Top</span><i class="fas fa-arrow-right"></i></a>
            </div>
            <!-- End scroll-top button -->

            <!--Start Header-->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/" class="logo">
                                <img src="images/logoWhite.png" data-dark="images/logoWhite.png" alt="logo">
                            </a>
                        </div>
                        <div class="col-md-9">
                            <nav class="menu single-page-nav" id="menu">
                                <ul>
                                    <li><a class="home" href="#welcome-area">Home</a></li>

                                    <li><a href="#about">About us</a></li>
                                    <li><a href="#service">Tournaments</a></li>
                                    <li><a href="#portfolio">Gallery</a></li>
                                    <li><a href="#client-testimonial">Hall of Fame</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#contact">Contact</a></li>

                                    <% if(user=="null"){%>
                                        <li><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Login</a></li>
                                        <% } else { %>
                                            <li><a href="javascript:;" onclick="profile()">Profile</a></li>
                                            <li><a href="javascript:;" onclick="logout()">Logout</a></li>
                                            <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!--End Header-->


            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="limiter">
                            <div class="container-login100">
                                <div class="wrap-login100">
                                    <div class="container" style="padding: 6%;color: white">
                                        <center>
                                            <h1>Cyber Crusade Login</h1>
                                        </center>
                                    </div>
                                    <!-- <div class="login100-pic js-tilt" data-tilt>
                                        <img src="images/img-01.png" alt="IMG">
                                    </div> -->

                                    <!-- <form class="login100-form validate-form" action="/login" method="post">
                                        <span class="login100-form-title">
                                            User Login
                                        </span>
                                        <% if (messagel.length > 0) { %>
                                            <div class="alert alert-danger"><%= messagel %></div>
                                        <% } %>
                                        <% if (messages.length > 0) { %>
                                            <div class="alert alert-danger"><%= messages %></div>
                                        <% } %> -->
                                    <!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                                            <input class="input100" type="text" name="email" placeholder="Email">
                                            <span class="focus-input100"></span>
                                            <span class="symbol-input100">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </span>
                                        </div>
                    
                                        <div class="wrap-input100 validate-input" data-validate = "Password is required">
                                            <input class="input100" type="password" name="pass" placeholder="Password">
                                            <span class="focus-input100"></span>
                                            <span class="symbol-input100">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </span>
                                        </div> -->

                                    <!-- <div class="container-login100-form-btn">
                                                <button type="submit" class="login100-form-btn"> Login</button>
                                            
                                        </div> -->
                                    <div class="container text-center" style="padding-top:20px;">
                                        <!-- <h7 style="text-align:center;">New User? <a href="/signup" data-toggle="modal" data-target="#myModal">Sign up</a></h7> -->
                                        <h4 style="padding-bottom: 5%">Login Through</h4>


                                        <div class="col-sm-12 container-login100-form-btn">
                                            <a class="btn btn-social btn-google" href="/auth/google">
                                                <span class="fab fa-google"></span>google
                                            </a>

                                        </div>

                                    </div>


                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>